input[type="file"] {
  display: none;
}

.label {
  width: 150px;
  height: 40px;
  display: flex;
  background-color: #1746a2;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-weight: 700;
  cursor: pointer;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #676767;
  color: #002e94;
  font-weight: 700;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #002e94;
  font-weight: 700;
}

.paginationActive a {
  color: white !important;
  background-color: #002e94;
  font-weight: 700;
}

.paginationDisabled a {
  color: grey;
  background-color: transparent;
}
